* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b
}
a {
	text-decoration: none;
}

/*clearfix*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.header-box {
	width: 1024px;
	margin: 0 auto;
}
.logo {
	height: 70px;
	float: left;
}
.header-nav {
	display: block;
	float: right;
}
.nav-list {
	font-size: 0;
}
.nav-list li {
	display: inline-block;
	margin: 0 30px;
	line-height: 70px;
}
.nav-text {
    font-size: 16px;
	color: #FAFAFA;
}

#main-visual {
	width: 100%;
	height: 650px;
	background-image: url("img/mv.png");
	background-size: cover;
	background-position: center;
}

main {}
#portfolio {
	width: inherit;
	background-color: #ECEFF1;
}
#feature {
	width: inherit;
}
#profile {
	width: inherit;
	background-color: #ECEFF1;
}
#contact {
	width: inherit;
}

footer {
	width: 100%;
	height: 60px;
	background-color: #EC715F;
}
