* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b
}
a {
	text-decoration: none;
}

/*clearfix*/
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/* header */
header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.header-container {
	width: 1024px;
	margin: 0 auto;
}
.logo {
	height: 70px;
	float: left;
}
.header-nav {
	display: block;
	float: right;
}
.nav-list {
	font-size: 0;
}
.nav-list li {
	display: inline-block;
	margin: 0 30px;
	line-height: 70px;
}
.nav-text {
    font-size: 16px;
	color: #FAFAFA;
}

/* main visual*/
#main-visual {
	width: 100%;
	height: 650px;
	background-image: url("img/mv.png");
	background-size: cover;
	background-position: center;
	font-size: 64px;
	color: #FAFAFA;
	text-align: center;
}
.mv-title {
	font-size: 64px;
	color: #FAFAFA;
	padding-top: 200px;
}
.mv-text {
	font-size: 20px;
	color: #FAFAFA;
	padding-top: 10px;
}

/* portforio */
#portfolio {
	background-color: #ECEFF1;
}
.portfolio-container {
	width: 920px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
	font-size: 0;
}
.portfolio-title {
	font-size: 32px;
	color: #000000;
	padding-bottom: 8px;
	border-bottom: 
}
.portfolio-title::after{
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}
.portfolio-text {
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}
.portfolio-img {
	display: inline-block;
	width: 300px;
	height: 250px;
	margin: 10px 10px 0 0;
	background-size: cover;
	background-position: center;
}
#portfolio-img1 {
	background-image: url("img/sketch.jpg");
}
#portfolio-img2 {
	background-image: url("img/websuku.png");
}
#portfolio-img3 {
	background-image: url("img/write.jpg");
	margin-right: 0;
}
#portfolio-img4 {
	background-image: url("img/webcamp.png");
	margin-bottom: 0;
}
#portfolio-img5 {
	background-image: url("img/talk.jpg");
	margin-bottom: 0;
}
#portfolio-img6 {
	background-image: url("img/webcamp-mother.png");
	margin: 0;
}


/* feature */
#feature {}
.feature-container {
	width: 980px;
	margin: 0 auto;
	padding: 90px 0;
	text-align: center;
	font-size: 0;
}
.feature-title {
	font-size: 32px;
	color: #000000;
}
.feature-title::after{
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}
.feature-text {
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}
.strength {
	display: inline-block;
	width: 320px;
	margin-right: 10px;
	text-align: center;
}
.strength:last-child {
	margin-right: 0;
}
.strength i {
	font-size: 60px;
}
.strength-title {
	font-size: 20px;
	color: #000000;
	padding: 10px 0;
}
.strength-text {
	font-size: 16px;
	color: #000000;
	text-align: left;
}

/* profilr */
#profile {
	width: inherit;
	background-color: #ECEFF1;
}

/* contact */
#contact {
	width: inherit;
}

/* footer */
footer {
	width: 100%;
	height: 60px;
	background-color: #EC715F;
}
